h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: black;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 30px;
    color: black;
    line-height: 1.5;
	text-align: center;
}

div	{
		text-align: center;
		font-size: 14px;
		font-family: Helvetica;
	}

.titulos{
		font-size: 16px;
		font-weight: bold;
		color: black;
	}
		
span	{
		color: green;
	}

a	{
		color: purple;
		font-family: helvetica;
		font-weight: bold;
		font-size: 11px;
	}
		
.bloque_info{
		border-style: solid;
		border-width: 5px;
		border-radius: 5px;
		border-color: blue;
		font-weight: bold;
		width: 500px;
		height: 300px;
		display: inline-block;
		margin: 15px;
		padding: 15px;
		background-size: 200px 200px;
	}

#bloque1{
		background-image: url("html1.png");
		background-repeat: no-repeat;
		background-position: center;
	}

#bloque2{
		background-image: url("html2.png");
		background-repeat: no-repeat;
		background-position: center;
	}
		


		